[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django-environ = "*"
django-reversion = "*"
django-simple-history = "*"
django-markupfield = "*"
markdown = "*"
django-organizations = "*"
django-extensions = "*"
hashids = "*"
django-contrib-comments = "*"
django-widget-tweaks = "*"
django-allauth = "*"
django = "<2.0"


[dev-packages]

pytest = "*"
pytest-django = "*"
factory-boy = "*"
django-test-plus = "*"
ipdb = "*"
