[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django-environ = "*"
django-reversion = "*"
django-simple-history = "*"
django-markupfield = "*"
Markdown = "*"
django-organizations = "*"
django-extensions = "*"
hashids = "*"
django-widget-tweaks = "*"
django-allauth = "*"
Django = "<2.0"
celery = "*"
redis = "*"
django_celery_beat = "*"
django_celery_results = "*"


[dev-packages]

pytest = "*"
pytest-django = "*"
factory_boy = "*"
django-test-plus = "*"
ipdb = "*"
