{% extends "proposals/base.html" %}

{% load bootstrap4 %}
{% load static %}

{% block content %}

<h2 class="display-4">{{ object.subject }} ({{ object.get_status_display }})</h2>

{% if object.closing_date %}
<h4>{{ object.closing_date }} closing date ({{ object.closing_date|timeuntil }})</h4>
{% endif %}

{% if object.body %}
{{ object.body }}
{% endif %}


{% if object.url %}
{{ object.url }}
{% endif %}

<hr>

<div>
<a class="btn btn-sm btn-primary" href="{% url 'proposals:proposal_update' organization_slug=organization_slug pk=object.pk %}">Update Proposal</a>
<a class="btn btn-sm btn-danger" href="{% url 'proposals:proposal_delete' organization_slug=organization_slug pk=object.pk %}">Delete Proposal</a>
<!--
<a class="btn btn-sm btn-primary" href="{% url 'proposals:proposal_draft' organization_slug=organization_slug pk=object.pk %}">Re-draft</a>
<a class="btn btn-sm btn-danger" href="{% url 'proposals:proposal_withdrawn' organization_slug=organization_slug pk=object.pk %}">Withdraw Proposal</a>
-->
</div>

<hr>

<!-- vote information -->

<p>{{ object.vote_set.count }} vote{{ object.vote_set.count|pluralize }}</p>

<table class="table table-hover table-sm table-striped">
  <thead class="thead-inverse">
    <tr>
      <th>description</th>
      <th>votes</th>
    </tr>
  </thead>
  <tbody>
    <tr scope="row">
      <td>Total Binding +1 votes</td>
      <td>{{ object.positive_votes }}</td>
    </tr>
    <tr scope="row">
      <td>Total Binding  +0/-0 votes</td>
      <td>{{ object.neutral_votes }}</td>
    </tr>
    <tr scope="row">
      <td>Total Binding  -1 votes</td>
      <td>{{ object.negative_votes }}</td>
    </tr>
  </tbody>
</table>

{% if object.get_accepting_votes %}
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
  <button type="submit" class="btn btn-primary">Vote</button>
  {% endbuttons %}
{% endif %}

{% endblock content %}
